@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

.App {
  width: 100%;
  font-family: 'Kanit', sans-serif;
}
header {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 5px #ccc;
  display: block;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 20px;
}
section {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  box-sizing: border-box;
}
h1, h2 {
  font-weight: 700;
  margin: 0;
}
h1 {
  float: left;
}
nav {
  float: right;
  padding: 10px;
}
label {
  clear: both;
  display: block;
  width: 100%;
}
input,textarea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
input {
  width: 50%;
}
textarea {
  width: 100%;
}
.buttonHolder {
  text-align: right;
}
button {
  background: limegreen;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}
.todos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo {
  /*flex: 1;*/
  width: 24%;
  box-sizing: border-box;
  border: 1px solid rgba(50, 205, 50, 0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(50, 205, 50, 0.2);
  padding: 10px;
  margin-bottom: 20px;
}