@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

.App {
  width: 100%;
  font-family: 'Kanit', sans-serif;
}
header {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 5px #ccc;
  display: block;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 20px;
}
section {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  box-sizing: border-box;
}
h1, h2 {
  font-weight: 700;
  margin: 0;
}
h1 {
  float: left;
}
nav {
  float: right;
  padding: 10px;
}
label {
  clear: both;
  display: block;
  width: 100%;
}
input,textarea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
input {
  width: 50%;
}
textarea {
  width: 100%;
}
.buttonHolder {
  text-align: right;
}
button {
  background: #333;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1rem;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 180px;
  height: 40px;
}
button.add {
  background: limegreen;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1rem;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: relative;
}
button.add:hover {
  background: forestgreen;
}
.completed button {
  background: limegreen;
  border-radius: 0px;
  font-size: 0.8rem;
  padding: 5px;
  position: absolute;
  bottom: calc(100% - 30px);
  right: 0px;
  width: 80px;
  height: 30px;
}

.todos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo {
  /*flex: 1;*/
  position: relative;
  width: 24%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.3);
  box-shadow: 1px 1px 6px rgba(33, 33, 33, 0.2);
  padding: 10px 10px 70px 10px;
  margin-bottom: 20px;
}
.todo.completed {
  border: 1px solid rgba(50, 205, 50, 0.3);
  box-shadow: 1px 1px 6px rgba(50, 205, 50, 0.2);
}